/* RESET DASAR */
:root {
  --primary: #2a7afe;
  --primary-dark: #1f5fd1;
  --card-bg: #f9f9f9;
  --border-color: #ddd;
  --bg-card: #f5f5f5;
  --shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  --shadow-dark: 0 4px 10px rgba(240, 240, 240, 0.418);
  --bg-card-light: #f0f4f8;
  --bg-card-dark: #333;
  --text-light: #333;
  --text-dark: #fff;
  --success-dark: #347e37;
  --success: #4caf50;
  --danger: #ab271e;
  --danger-dark: #731913;
  --info: var(--info-color);
  --info-dark: #286396;
  --warning: #ffb300;
  --primary-dark: #0357b0;
  /*========================*/
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --white-color: white;
  --black-color: black;
}

/*html {scroll-behavior: smooth}*/
body.dark {
  --card-bg: #1f1f1f;
  --border-color: #444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}
img {
  max-width: 100%;
  height: auto;
}

/* DARK MODE */
body.dark {
  background-color: #121212;
  color: #e0e0e0;
}
body.dark .app-header {
  background-color: #1e1e1e;
}
body.dark .sidebar {
  background-color: #1f1f1f;
}
body.dark .sidebar li:hover {
  background-color: #333;
}
body.dark .card {
  background-color: #1e1e1e;
  color: #e0e0e0;
}
body.dark .btn {
  background-color: #333;
  color: #e0e0e0;
}
body.dark .btn:hover {
  background-color: #555;
}

/* HEADER */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #2196f3;
  color: white;
  height: 70px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.5);
}
.app-header .logo {
  display: flex;
  align-items: center;
}
.app-header img {
  height: 40px;
  margin-right: 10px;
}
.app-header h1 {
  font-size: 1.5rem;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 70px;
  left: 0;
  width: 200px;
  height: calc(100vh - 70px);
  background-color: #ffffff;
  /*border-right: 1px solid #ddd;*/
  padding-top: 1rem;
  overflow-y: auto;
}
.sidebar ul {
  list-style: none;
}
.sidebar li {
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.sidebar li:hover,
.sidebar li.active-page {
  background-color: #e3f2fd;
}

body.dark .sidebar li.active-page {
  background-color: var(--bg-card-dark);
}

/* KONTEN UTAMA */
#app-content {
  margin-left: 200px;
  /*margin-top: 70px;*/
  padding: 2rem;
}

/* KOMPONEN UMUM */
.card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}
.btn {
  display: inline-block;
  font-size: 1rem;
  padding: 0.8rem 1rem;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn:hover {
  background-color: #1976d2;
}
.mb-0{
	margin-bottom: 0;
}
.mb {
  margin-bottom: 1rem;
}

.absolute {
  position: absolute;
}
.relative {
  position: relative;
}

.absolute.btn-theme {
  top: 1rem;
  right: 1rem;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: none;
  border: none;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.flex {
  display: flex;
}
.flex.columns {
  flex-direction: column;
}
.flex.flex-wrap {
  flex-wrap: wrap;
}
.flex.gap-1 {
  gap: 10px;
}
.flex.content-center {
  justify-content: center;
}
.flex.beetwen {
  justify-content: space-between;
}
.flex.item-center {align-items: center}

/*color*/
.c-danger {
  color: var(--danger);
}
.c-success {
  color: var(--success);
}
.c-warning {
  color: var(--warning);
}
.c-info {
  color: var(--info-color);
}

/*background*/
.bg-success {
  background-color: var(--success-color) !important;
  color: var(--white-color) !important;
}

.bg-info {
  background-color: var(--info-color) !important;
  color: var(--white-color) !important;
}

.bg-warning {
  background-color: var(--warning-color) !important;
  color: var(--black-color) !important;
}

.bg-danger {
  background-color: var(--danger-color) !important;
  color: var(--white-color) !important;
}

.bg-primary {
  background-color: var(--primary-color) !important;
  color: var(--white-color) !important;
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
  color: var(--white-color) !important;
}

.bg-light {
  background-color: var(--light-color) !important;
  color: var(--black-color) !important;
}

.bg-dark {
  background-color: var(--dark-color) !important;
  color: var(--white-color) !important;
}
/*BACKGROUND END*/

button.toggle_theme {
  background: none;
  border: none;
  padding: 0 0.5rem;
  font-size: 1.5rem;
}
button.toggle_theme:hover {
  cursor: pointer;
}
input,
select,
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  border-radius: 6px;
}

/* HALAMAN LOGIN */
body.login-page {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-container {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

body.dark.login-page {
  background-color: #121212;
}
body.dark .login-container {
  background-color: #1e1e1e;
  color: #e0e0e0;
}
body.dark input {
  background: #232323;
  color: #e0e0e0;
  border: 1px solid #131313;
}

/*halaman transaksi*/
/* Umum */
.transaksi-page {
  max-width: 850px;
  margin: 3rem auto auto;
  padding: 1rem;
  scroll-padding-top: 1rem;
}

.transaksi-page h2 {
  margin-bottom: 1rem;
}

.form-transaksi {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.form-transaksi input,
.form-transaksi select {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
}
.mbsm {
  margin-bottom: 1rem;
}
.mtxl {
  margin-top: 3.5rem;
}
mbsm {
  margin-bottom: 1.2rem;
}
.text-center {
  text-align: center;
}

/* Dark mode */
body.dark .form-transaksi input,
body.dark .form-transaksi select {
  background-color: #1f1f1f;
  border: 1px solid #555;
  color: #f0f0f0;
}

.form-transaksi button {
  padding: 0.5rem;
  background-color: #00a86b;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.form-transaksi button:hover {
  background-color: #008f5e;
}

/* Summary */
.summary {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  color: #000;
}

body.dark .summary {
  background-color: #2b2b2b;
  color: #fff;
}

/* Daftar transaksi */
.daftar-transaksi {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.tx-transaksi {
  padding: 0.75rem;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  background-color: #eee;
  color: #000;
  border-left: 5px solid #999;
}

body.dark .tx-transaksi {
  background-color: #2c2c2c;
  color: #fff;
}

.tx-transaksi.pemasukan {
  border-left-color: #00a86b;
}

.tx-transaksi.pengeluaran {
  border-left-color: #e74c3c;
}

.aksi {
  right: 0;
  top: 0;
}
.dark .aksi button {
  background-color: #212121;
}
.aksi button {
  border: none;
  background-color: #e0e0e0;
  padding: 3px 6px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}
.dark .aksi button:active {
  background-color: #121212;
  box-shadow: none;
}

.aksi button:active {
  background-color: #c5c5c5;
  box-shadow: none;
}

/*KATEGORI START*/
.kategori-page {
  max-width: 600px;
  margin: 1rem auto;
}

.kategori-page h2 {
  margin-bottom: 1rem;
}

.kategori-page form {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.kategori-page input {
  flex: 1;
  margin-bottom: 0;
}
.kategori-page button {
  background-color: #00a86b;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.tabel-kategori {
  width: 100%;
  border-collapse: collapse;
}

.tabel-kategori th,
.tabel-kategori td {
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.tabel-kategori button {
  margin: 0 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  text-shadow: 0 1px 0 rgb(0, 0, 0);
  transition: background-color 0.3s;
  border-radius: 5px;
}
.tabel-kategori button:nth-child(1) {
  background-color: var(--primary);
  color: var(--primary-dark);
}
.tabel-kategori button:nth-child(1):hover {
  background-color: var(--primary-dark);
  color: var(--primary);
}
.tabel-kategori button:nth-child(2) {
  background-color: var(--danger);
  color: var(--danger-dark);
}
.tabel-kategori button:nth-child(2):hover {
  background-color: var(--danger-dark);
  color: var(--danger);
}
/*KATEGORI END*/

.form-transaksi .btn-btl-edit {
  background-color: var(--danger);
  transition: background-color 0.3s;
}
.form-transaksi .btn-btl-edit:hover {
  background-color: var(--danger-dark);
}
/*Pagination*/
.pagination-container {
  margin-top: 20px;
  text-align: center;
}

.pagination-btn {
  margin: 0 4px;
  padding: 6px 10px;
  border: none;
  background: var(--bg-card);
  color: var(--text-light);
  cursor: pointer;
  border-radius: 6px;
  transition: 0.2s;
}

.pagination-btn:hover {
  background: var(--primary);
  color: white;
}

.pagination-btn.active {
  background: var(--primary);
  color: white;
  font-weight: bold;
}

.pagination-btn {
  margin: 0 4px;
  padding: 6px 10px;
  border: 1px solid;
  background: var(--bg-card, #f1f1f1);
  color: var(--text-light, #333);
  cursor: pointer;
  border-radius: 6px;
  transition: 0.2s;
}

body.dark .pagination-btn {
  border: none;
}
.pagination-btn:hover:not(:disabled) {
  background: var(--primary, #007bff);
  color: white;
}
.pagination-btn:hover:disabled {
  background: white;
  color: #333;
}
.pagination-btn.active {
  background: var(--primary, #007bff);
  color: white;
  font-weight: bold;
  transform: scale(1.3);
}

.pagination-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/*RIWAYAT START*/
.riwayat-section {
  padding: 1rem;
}

.riwayat-section h2 {
	margin-bottom: 0;
}

.riwayat-container {
  overflow-x: auto;
}

.riwayat-table,
#transaksi-table table {
  width: 100%;
  border-collapse: collapse;
}

.riwayat-table th,
.riwayat-table td,
#transaksi-table table th,
#transaksi-table table td {
  padding: 0.75rem;
  border: 1px solid var(--border-color);
  text-align: left;
}

.riwayat-table td.plus {
  color: green;
}

.riwayat-table td.minus {
  color: red;
}

#transaksi-table button {
  background: var(--bg-card-light);
  padding: 0.2rem 0.35rem;
  border: none;
  border-radius: 3px;
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: background-color 0.3s;
}
#transaksi-table button:hover {
  background-color: #a1a1a1;
}
body.dark #transaksi-table button {
  background-color: var(--bg-card-dark);
}

/*RIWAYAT END*/

/*LAPORAN START*/
.laporan h2 {
  margin-bottom: 1rem;
}
.laporan .ringkasan {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.laporan .card {
  flex: 1;
  padding: 1rem;
  border-radius: 10px;
  color: #fff;
  text-align: center;
}

.card.pemasukan {
  background-color: var(--success);
}
body.dark .card.pemasukan {
  background-color: var(--success-dark);
}
.card.pengeluaran {
  background-color: var(--danger);
}
body.dark .card.pengeluaran {
  background-color: var(--danger-dark);
}
.card.saldo {
  background-color: var(--primary-color);
}
body.dark .card.saldo {
  background-color: var(--info-dark);
}
.laporan table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.laporan th,
.laporan td {
  padding: 0.5rem;
  border: 1px solid #ccc;
  text-align: left;
}

/*LAPORAN END*/

/*DASHBOARD START*/
.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.stat-box {
  background-color: var(--bg-card-light);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: var(--shadow);
  transition: transform 0.2s;
  color: var(--text-light);
}

.stat-box:hover {
  transform: translateY(-5px);
}

.stat-box h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.stat-box p {
  font-size: 1.5rem;
  font-weight: bold;
}

.stat-box.saldo {
  background-color: var(--primary-color); /* Hijau untuk saldo */
  color: #fff;
}

.stat-box.masuk {
  background-color: var(--success-color); /* Biru untuk pemasukan */
  color: #fff;
}

.stat-box.keluar {
  background-color: var(--danger-color); /* Merah untuk pengeluaran */
  color: #fff;
}

.stat-box.jumlah {
  background-color: var(--info-color); /* Orange untuk jumlah transaksi */
  color: #fff;
}

/* Dark Mode */
body.dark .stat-box {
  background-color: var(--bg-card-dark);
  color: #fff;
}

body.dark .stat-box.saldo {
  background-color: var(--primary-dark);
}

body.dark .stat-box.masuk {
  background-color: var(--success-dark);
}

body.dark .stat-box.keluar {
  background-color: var(--danger-dark);
}

body.dark .stat-box.jumlah {
  background-color: var(--info-dark);
}
/*DASHBOARD END*/

/* MENU IMPORT EXPORT */
.export-import-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.btn-export,
.btn-import {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: var(--shadow);
  transition: background-color 0.3s;
}

.btn-export {
  background-color: var(--success-color);
}

.btn-export:hover,
.btn-import:hover {
  background-color: var(--primary-dark);
}

.btn-export:hover {
  background-color: var(--success-dark);
}

.btn-import input[type="file"] {
  display: none;
}

.center-element {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.center-element h2 {
  margin-bottom: 0;
}
button.kategori-info {
  background: none;
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow);
  padding: 0;
  width: 20px;
  height: 20px;
}
body.dark button.kategori-info {
  color: var(--text-dark);
}
.element-info {
  /*position: absolute;*/
  border: 1px solid var(--border-color);
  padding: 0.5rem;
  border-radius: 10px;
  width: 300px;
  background-color: var(--bg-card);
  transform: scale(0);
  transition: transform 0.3s;
  z-index: 20;
}
body.dark .element-info {
  background-color: var(--bg-card-dark);
}
.element-info.show {
  transform: scale(1);
}

#transaksi-table {
  overflow-x: scroll;
  margin-top: 1rem;
}
#kategori-table {
  overflow-x: scroll;
}

.no-wrap {
  white-space: nowrap;
}

/*ALERT START*/
/* Style Dasar Alert */
.alert {
  padding: 20px;
  margin-bottom: 15px;
  border-left: 6px solid; /* Warna akan ditentukan oleh kelas spesifik */
  opacity: 1;
  transition: opacity 0.6s; /* Efek fade out saat ditutup */
  width: 45%;
}

/* Tombol Close */
.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  top: 10px;
  right: 20px;
}

.closebtn:hover {
  color: black;
}

/* Warna Alert */
.alert-info {
  background-color: #f0f8ff; /* Light Blue */
  color: #1e88e5; /* Blue Grey */
  border-color: #1e88e5;
}

.alert-success {
  background-color: #f0fff0; /* Light Green */
  color: #43a047; /* Green */
  border-color: #43a047;
}

.alert-warning {
  background-color: #fff8e1; /* Light Yellow */
  color: #ffb300; /* Amber */
  border-color: #ffb300;
}

.alert-error {
  background-color: #ffebee; /* Light Red */
  color: #e53935; /* Red */
  border-color: #e53935;
}

/* Animasi Show */
.alert.show {
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Animasi Hide (akan dipicu oleh JavaScript) */
.alert.hide {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*ALERT END*/

/*TABEL HOVER*/
table tbody tr:hover {
  background-color: #b2b1b1;
  color: var(--black-color);
}
.over-auto {
	overflow: auto;
}
.over-auto-y{
	overflow-y: auto;
}
.over-auto-x {
  overflow-x: auto;
}

.print {
	padding: 0.75rem;
	border: none;
	box-shadow: var(--shadow);
	border-radius: 7px;
	cursor: pointer;
	transition: background-color .3s;
}
.print:nth-child(2){
	background-color: var(--primary);
	color: var(--white-color);
	border: none;
	transition: background-color .3s;
}
.print:hover{
	background-color: var(--dark-color);
	color: var(--white-color);
}
.print:nth-child(2):hover {
	background-color: var(--primary-dark);
}

body.dark .print {
  box-shadow: 0px 0px 10px rgba(240, 240, 240, 0.3);
  background-color: #1e1e1e;
  color: white;
}
body.dark .print:hover{
	background-color: var(--light-color);
	color: var(--black-color);
}
body.dark .print:nth-child(2) {
	background-color: var(--primary-dark);
}

body.dark .print:nth-child(2):hover {
	background-color: var(--primary);
}

.d-none {display: none}

/*.setting-dashboard {*/
/*	padding: 1rem;*/
/*}*/
/* RESPONSIF */
@media (max-width: 768px) {
  .sidebar {
    position: static;
    width: 100%;
    height: auto;
    margin-top: 3.5rem;
  }

  #app-content {
    margin-left: 0;
    margin-top: 0;
    padding: 1rem;
  }
  .ringkasan {
    flex-wrap: wrap;
    gap: 0.5rem !important;
  }

  .ringkasan .card {
    margin-bottom: 0;
  }
  .mtxl {
    margin-top: 0.5rem !important;
  }
  .chart-wrapper canvas {
    max-width: 80%;
  }
  .element-info {
    transform: scale(0) translateX(50%);
    right: 50%;
    top: 50%;
  }
  .element-info.show {
    transform: scale(1) translateX(50%);
    transform-origin: center center;
  }
  .export-import-container {
    justify-content: center;
  }
  .alert {
    width: calc(100% - 2rem);
  }
  .d-none\:mobile{display: none}
}
